<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>


<h2>Game Form</h2>

<form method="post" style="max-width:600px;" th:object="${theGame}">
<table class="table">
    <tr>
        <th>LP</th>
        <th>Placement</th>
        <th>Champions</th>
        <th>Champion Item One</th>
        <th>Champion Item Two</th>
        <th>Champion Item Three</th>
    </tr>

    <tr>
        <td>

            <div class="form-group">
                <input class="form-control" th:field="*{LP}" placeholder="Current LP"/>
            </div>
        </td>

        <td>
            <div class="form-group">
                <select th:field ="*{placement}">
                    <option th:value="1" >1</option>
                    <option th:value="2" >2</option>
                    <option th:value="3" >3</option>
                    <option th:value="4" >4</option>
                    <option th:value="5" >5</option>
                    <option th:value="6" >6</option>
                    <option th:value="7" >7</option>
                    <option th:value="8" >8</option>

                </select>
            </div>
        </td>

<td>
<div class="form-group">

    <div>
    <select name="Champions">
        <option value = "0">Select Champion</option>
        <option th:each="champion : ${Champions}"
                th:text="${champion.championName}"
                th:value="${champion.id}"></option>
    </select>
    </div>

    <div>
    <select name="Champions2">
        <option value = "0">Select Champion</option>
        <option th:each="champion : ${Champions}"
                th:text="${champion.championName}"
                th:value="${champion.id}"></option>
    </select>

    </div>

    <div>
    <select name="Champions3">
        <option value = "0">Select Champion</option>
        <option th:each="champion : ${Champions}"
                th:text="${champion.championName}"
                th:value="${champion.id}"></option>
    </select>
    </div>

        <div>
    <select name="Champions4">
        <option value = "0">Select Champion</option>
        <option th:each="champion : ${Champions}"
                th:text="${champion.championName}"
                th:value="${champion.id}"></option>
    </select>

        </div>

            <div>
    <select name="Champions5">
        <option value = "0">Select Champion</option>
        <option th:each="champion : ${Champions}"
                th:text="${champion.championName}"
                th:value="${champion.id}"></option>
    </select>
            </div>

                <div>
    <select name="Champions6">
        <option value = "0">Select Champion</option>
        <option th:each="champion : ${Champions}"
                th:text="${champion.championName}"
                th:value="${champion.id}"></option>
    </select>
                    <div/>

                    <div>
    <select name="Champions7">
        <option value = "0">Select Champion</option>
        <option th:each="champion : ${Champions}"
                th:text="${champion.championName}"
                th:value="${champion.id}"></option>
    </select>
                    </div>

                        <div>
    <select name="Champions8">
        <option value = "0">Select Champion</option>
        <option th:each="champion : ${Champions}"
                th:text="${champion.championName}"
                th:value="${champion.id}"></option>
    </select>
                        </div>

                            <div>
    <select name="Champions9">
        <option value = "0">Select Champion</option>
        <option th:each="champion : ${Champions}"
                th:text="${champion.championName}"
                th:value="${champion.id}"></option>
    </select>
                            </div>

                    <div>
    <select name="Champions10">
        <option value = "0">Select Champion</option>
        <option th:each="champion : ${Champions}"
                th:text="${champion.championName}"
                th:value="${champion.id}"></option>
    </select>
                                </div>
                                    </div>
</div>
</td>
        <td>
            <div class="form-group">

                <div>
                    <select name="Items">
                        <option value = "0">Select Item</option>
                        <option th:each="baseItem : ${Item}"
                                th:text="${baseItem.itemName}"
                                th:value="${baseItem.id}"></option>
                    </select>
                </div>

                <div>
                    <select name="Items2">
                        <option value = "0">Select Item</option>
                        <option th:each="baseItem : ${Item}"
                                th:text="${baseItem.itemName}"
                                th:value="${baseItem.id}"></option>
                    </select>

                </div>

                <div>
                    <select name="Items3">
                        <option value = "0">Select Item</option>
                        <option th:each="baseItem : ${Item}"
                                th:text="${baseItem.itemName}"
                                th:value="${baseItem.id}"></option>
                    </select>
                </div>

                <div>
                    <select name="Items4">
                        <option value = "0">Select Item</option>
                        <option th:each="baseItem : ${Item}"
                                th:text="${baseItem.itemName}"
                                th:value="${baseItem.id}"></option>
                    </select>

                </div>

                <div>
                    <select name="Items5">
                        <option value = "0">Select Item</option>
                        <option th:each="baseItem : ${Item}"
                                th:text="${baseItem.itemName}"
                                th:value="${baseItem.id}"></option>
                    </select>
                </div>

                <div>
                    <select name="Items6">
                        <option value = "0">Select Item</option>
                        <option th:each="baseItem : ${Item}"
                                th:text="${baseItem.itemName}"
                                th:value="${baseItem.id}"></option>
                    </select>
                    <div/>

                    <div>
                        <select name="Items7">
                            <option value = "0">Select Item</option>
                            <option th:each="baseItem : ${Item}"
                                    th:text="${baseItem.itemName}"
                                    th:value="${baseItem.id}"></option>
                        </select>
                    </div>

                    <div>
                        <select name="Items8">
                            <option value = "0">Select Item</option>
                            <option th:each="baseItem : ${Item}"
                                    th:text="${baseItem.itemName}"
                                    th:value="${baseItem.id}"></option>
                        </select>
                    </div>

                    <div>
                        <select name="Items9">
                            <option value = "0">Select Item</option>
                            <option th:each="baseItem : ${Item}"
                                    th:text="${baseItem.itemName}"
                                    th:value="${baseItem.id}"></option>
                        </select>
                    </div>

                    <div>
                        <select name="Items10">
                            <option value = "0">Select Item</option>
                            <option th:each="baseItem : ${Item}"
                                    th:text="${baseItem.itemName}"
                                    th:value="${baseItem.id}"></option>
                        </select>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">

                <div>
                    <select name="Items11">
                        <option value = "0">Select Item</option>
                        <option th:each="baseItem : ${Item}"
                                th:text="${baseItem.itemName}"
                                th:value="${baseItem.id}"></option>
                    </select>
                </div>

                <div>
                    <select name="Items12">
                        <option value = "0">Select Item</option>
                        <option th:each="baseItem : ${Item}"
                                th:text="${baseItem.itemName}"
                                th:value="${baseItem.id}"></option>
                    </select>

                </div>

                <div>
                    <select name="Items13">
                        <option value = "0">Select Item</option>
                        <option th:each="baseItem : ${Item}"
                                th:text="${baseItem.itemName}"
                                th:value="${baseItem.id}"></option>
                    </select>
                </div>

                <div>
                    <select name="Items14">
                        <option value = "0">Select Item</option>
                        <option th:each="baseItem : ${Item}"
                                th:text="${baseItem.itemName}"
                                th:value="${baseItem.id}"></option>
                    </select>

                </div>

                <div>
                    <select name="Items15">
                        <option value = "0">Select Item</option>
                        <option th:each="baseItem : ${Item}"
                                th:text="${baseItem.itemName}"
                                th:value="${baseItem.id}"></option>
                    </select>
                </div>

                <div>
                    <select name="Items16">
                        <option value = "0">Select Item</option>
                        <option th:each="baseItem : ${Item}"
                                th:text="${baseItem.itemName}"
                                th:value="${baseItem.id}"></option>
                    </select>
                    <div/>

                    <div>
                        <select name="Items17">
                            <option value = "0">Select Item</option>
                            <option th:each="baseItem : ${Item}"
                                    th:text="${baseItem.itemName}"
                                    th:value="${baseItem.id}"></option>
                        </select>
                    </div>

                    <div>
                        <select name="Items18">
                            <option value = "0">Select Item</option>
                            <option th:each="baseItem : ${Item}"
                                    th:text="${baseItem.itemName}"
                                    th:value="${baseItem.id}"></option>
                        </select>
                    </div>

                    <div>
                        <select name="Items19">
                            <option value = "0">Select Item</option>
                            <option th:each="baseItem : ${Item}"
                                    th:text="${baseItem.itemName}"
                                    th:value="${baseItem.id}"></option>
                        </select>
                    </div>

                    <div>
                        <select name="Items20">
                            <option value = "0">Select Item</option>
                            <option th:each="baseItem : ${Item}"
                                    th:text="${baseItem.itemName}"
                                    th:value="${baseItem.id}"></option>
                        </select>
                    </div>
                </div>
            </div>
        </td>

        <td>
            <div class="form-group">

                <div>
                    <select name="Items21">
                        <option value = "0">Select Item</option>
                        <option th:each="baseItem : ${Item}"
                                th:text="${baseItem.itemName}"
                                th:value="${baseItem.id}"></option>
                    </select>
                </div>

                <div>
                    <select name="Items22">
                        <option value = "0">Select Item</option>
                        <option th:each="baseItem : ${Item}"
                                th:text="${baseItem.itemName}"
                                th:value="${baseItem.id}"></option>
                    </select>

                </div>

                <div>
                    <select name="Items23">
                        <option value = "0">Select Item</option>
                        <option th:each="baseItem : ${Item}"
                                th:text="${baseItem.itemName}"
                                th:value="${baseItem.id}"></option>
                    </select>
                </div>

                <div>
                    <select name="Items24">
                        <option value = "0">Select Item</option>
                        <option th:each="baseItem : ${Item}"
                                th:text="${baseItem.itemName}"
                                th:value="${baseItem.id}"></option>
                    </select>

                </div>

                <div>
                    <select name="Items25">
                        <option value = "0">Select Item</option>
                        <option th:each="baseItem : ${Item}"
                                th:text="${baseItem.itemName}"
                                th:value="${baseItem.id}"></option>
                    </select>
                </div>

                <div>
                    <select name="Items26">
                        <option value = "0">Select Item</option>
                        <option th:each="baseItem : ${Item}"
                                th:text="${baseItem.itemName}"
                                th:value="${baseItem.id}"></option>
                    </select>
                    <div/>

                    <div>
                        <select name="Items27">
                            <option value = "0">Select Item</option>
                            <option th:each="baseItem : ${Item}"
                                    th:text="${baseItem.itemName}"
                                    th:value="${baseItem.id}"></option>
                        </select>
                    </div>

                    <div>
                        <select name="Items28">
                            <option value = "0">Select Item</option>
                            <option th:each="baseItem : ${Item}"
                                    th:text="${baseItem.itemName}"
                                    th:value="${baseItem.id}"></option>
                        </select>
                    </div>

                    <div>
                        <select name="Items29">
                            <option value = "0">Select Item</option>
                            <option th:each="baseItem : ${Item}"
                                    th:text="${baseItem.itemName}"
                                    th:value="${baseItem.id}"></option>
                        </select>
                    </div>

                    <div>
                        <select name="Items30">
                            <option value = "0">Select Item</option>
                            <option th:each="baseItem : ${Item}"
                                    th:text="${baseItem.itemName}"
                                    th:value="${baseItem.id}"></option>
                        </select>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <th>Items On Sideline</th>
    </tr>
    <tr>
        <td>
            <div class="form-group">

                <div>
                    <select name="Items31">
                        <option value = "0">Select Item</option>
                        <option th:each="baseItem : ${Item}"
                                th:text="${baseItem.itemName}"
                                th:value="${baseItem.id}"></option>
                    </select>
                </div>

                <div>
                    <select name="Items32">
                        <option value = "0">Select Item</option>
                        <option th:each="baseItem : ${Item}"
                                th:text="${baseItem.itemName}"
                                th:value="${baseItem.id}"></option>
                    </select>

                </div>

                <div>
                    <select name="Items33">
                        <option value = "0">Select Item</option>
                        <option th:each="baseItem : ${Item}"
                                th:text="${baseItem.itemName}"
                                th:value="${baseItem.id}"></option>
                    </select>
                </div>

                <div>
                    <select name="Items34">
                        <option value = "0">Select Item</option>
                        <option th:each="baseItem : ${Item}"
                                th:text="${baseItem.itemName}"
                                th:value="${baseItem.id}"></option>
                    </select>

                </div>

                <div>
                    <select name="Items35">
                        <option value = "0">Select Item</option>
                        <option th:each="baseItem : ${Item}"
                                th:text="${baseItem.itemName}"
                                th:value="${baseItem.id}"></option>
                    </select>
                </div>

                <div>
                    <select name="Items36">
                        <option value = "0">Select Item</option>
                        <option th:each="baseItem : ${Item}"
                                th:text="${baseItem.itemName}"
                                th:value="${baseItem.id}"></option>
                    </select>
                    <div/>

                    <div>
                        <select name="Items37">
                            <option value = "0">Select Item</option>
                            <option th:each="baseItem : ${Item}"
                                    th:text="${baseItem.itemName}"
                                    th:value="${baseItem.id}"></option>
                        </select>
                    </div>

                    <div>
                        <select name="Items38">
                            <option value = "0">Select Item</option>
                            <option th:each="baseItem : ${Item}"
                                    th:text="${baseItem.itemName}"
                                    th:value="${baseItem.id}"></option>
                        </select>
                    </div>

                    <div>
                        <select name="Items39">
                            <option value = "0">Select Item</option>
                            <option th:each="baseItem : ${Item}"
                                    th:text="${baseItem.itemName}"
                                    th:value="${baseItem.id}"></option>
                        </select>
                    </div>

                    <div>
                        <select name="Items40">
                            <option value = "0">Select Item</option>
                            <option th:each="baseItem : ${Item}"
                                    th:text="${baseItem.itemName}"
                                    th:value="${baseItem.id}"></option>
                        </select>
                    </div>
                </div>
            </div>
        </td>
    </tr>

</table>


<input type = "submit" value = "Submit Game"/>
</form>

</body>
</html>


