<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>


<h2>Sign in</h2>
<form method="post" th:object="${user}" style="max-width:600px;" >
    <div class="form-group">
        <label th:for="username">Username</label>
        <input class="form-control"  th:field="*{username}" />
        <span th:errors="*{username}" class="error"></span>
        <span th:text="${verifyError}"></span>

    </div>

    <div class="form-group">
        <label th:for="password">Password</label>
        <input type="password" class="form-control"  th:field="*{password}" />
        <span th:errors="*{password}" class="error"></span>

    </div>


        <input type="submit" value="Submit" />
</form>

<a href="/tft/register">Register</a>

</body>
</html>
